# Python関連の一時ファイル
*.pyc
*.pyo
__pycache__/

# MkDocsビルド出力
site/

# 一時ファイルやエディタ関連
*.swp
*.swo
*.bak
.DS_Store
Thumbs.db
uninstall.txt

# Virtual Environment
env/
.venv/
.virtualenv/
.python3_venv/
.cache/

# PipenvやPoetry関連
Pipfile
Pipfile.lock

# mkdocs serve 実行中のキャッシュ
.mkdtemp/

# その他一時ファイルやログ
*.log
*.tmp
