.md-typeset .md-button:focus, .md-typeset .md-button:hover {
  background-color: var(--md-primary-fg-color);
  border-color: var(--md-primary-fg-color);
  color: var(--md-accent-bg-color);
}
.md-nav__title {
  padding: 0px;
  border-bottom: 1.5px solid #aaaaaa; /* 下線を引く */
  padding-bottom: 0.2em;       /* 下線と文字の間隔 */
  font-weight: bold;
  color: #0000008a

}
.md-nav__list ul {
  padding: 0px 15px;
  margin: 0px;
  list-style-type: "▸";
  list-style-position: outside;
}
.md-nav__item {
  padding: 0px;
}
.md-typeset {
  color: #000000;
}
.md-typeset h1 {
  font-weight: bold;
  color: #000000b3;
  margin: 0px;
}
.md-typeset h2 {
  border-bottom: 1.5px solid #aaaaaa; /* 下線を引く */
  padding-bottom: 0.2em;       /* 下線と文字の間隔 */
  font-weight: bold;
  color: #000000b3;
}
.md-typeset h3 {
  color: #000000b3;
  margin:  16px 0px 8px 0px;
  font-weight: bold;
}
.md-typeset h4 {
  color: #000000b3;
}
.md-typeset h5 {
  color: #000000b3;
}
.md-typeset ul {
  padding: 0px 15px;
  margin: 0px;
  list-style-type: "▸";
  list-style-position: outside;
}
p.update-date {
  color: var(--md-default-fg-color--light);
  font-size: .68rem;
  margin-top: 0em;
  text-align: right;
}
p.update-date::before {
  content: url("../images/clock.svg");
  vertical-align: -0.2em;
}
a.update-date {
  color: var(--md-default-fg-color--light);
  font-size: .68rem;
  margin-top: 0em;
  text-align: right;
}
